.introBar {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  padding-left: 200px;
  color: white;
  margin-top: -80px;
  /* margin-bottom: 50px; */
}
#numberTechnology {
  display: inline-block;
  margin-right: 10px;
  color: gray;
}
body {
  background-color: rgb(0, 0, 0);
}
.mainBody {
  margin-top: 50px;
  display: flex;
  /* flex-wrap: wrap; */
  font-family: "Lato", sans-serif;
  color: white;
  justify-content: space-between;
}
.numberButtonBar {
  margin-top: 50px;
  margin-left: 120px;
  display: flex;
  width: 200px;
  height: 400px;
  flex-flow: column;
  justify-content: space-evenly;
}
.numberButton {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid grey;
  font-size: 30px;
  color: white;
  background-color: transparent;
}
.technologyDescription {
  width: 800px;
  margin-top: 50px;
  word-spacing: 10px;
  font-size: 20px;
  /* padding-right: 100px; */
}
#technologyVehicle {
  font-size: 80px;
}
#vehicleDescription {
  padding-right: 80px;
}
#technologyPhoto {
  margin-top: -50px;
}

@media screen and (max-width:1500px) {
  .mainBody{
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #technologyPhoto{
    margin: 0;
    padding-bottom: 30px;
    /* border-style: border-box;   */
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1119px) {
  .numberButtonBar{
    flex-flow: row;
    height: auto;
    width: auto;
    margin: 0px 10px;
  }
  .numberButton{
    margin: 0px 20px;
  }
  .introBar{
    padding-left: 100px;
  }
  #technologyHeading{
    text-align: center;
  }
  #technologyVehicle{
    text-align: center;
  }
  #vehicleDescription{
    text-align: center;
    padding: 0px 40px;
  }
}